@model RestServiceWeb.Models.Db.Match

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Match</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.SerialNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SerialNumber)
                @Html.ValidationMessageFor(model => model.SerialNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FIFASerialNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FIFASerialNumber)
                @Html.ValidationMessageFor(model => model.FIFASerialNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartUTCTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartUTCTime)
                @Html.ValidationMessageFor(model => model.StartUTCTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndUTCTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndUTCTime)
                @Html.ValidationMessageFor(model => model.EndUTCTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Running, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Running)
                @Html.ValidationMessageFor(model => model.Running)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsLive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsLive)
                @Html.ValidationMessageFor(model => model.IsLive)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
